* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.container h3{
    margin-top: 100px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: lighter;
    font-size: 2.6em;
    height: 1.2em;
}

.container h1{
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 2.5em;
}

.container p{
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 1em;
    width: 550px;
    margin-bottom: 50px;
}

.blocks {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);;
    height: 250px;
    width: 400px;
    text-align: end;
    border-top: 5px solid red;
    border-radius: 1em;
    margin-bottom: 40px;
}

.blocks:nth-child(3){
    border-top: 5px solid hsl(34, 97%, 64%);
}
.blocks:nth-child(4){
    border-top: 5px solid hsl(180, 62%, 55%);
    position: relative;
    bottom: 420px;
    right: 450px;
}
.blocks:nth-child(5){
    border-top: 5px solid hsl(212, 86%, 64%);
    position: relative;
    bottom: 710px;
    left: 450px;
}

.blocks .title {
    margin: 15px 0 0 30px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 1.5em;
    text-align: start;
}

.blocks .info {
    padding: 10px 0 0 0;
    margin: 0 0 30px 30px;
    width: 350px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
    font-size: 1em;
    text-align: start;
}

.blocks img{
    padding: 0 40px 00px 0;
}

@media  (max-width: 1350px){
    *{
        overflow:visible;
    }
    .blocks:nth-child(4){
        position: relative;
        bottom: 0px;
        right: 0px;
    }
    .blocks:nth-child(5){
        position: relative;
        bottom: 0px;
        left: 0px;
    }
}

@media  (max-width: 630px){
    .text {
        width: 80%;
    }

    .text h3 {
        width: auto;
        font-size: 1.3rem;
    }
    .text h1 {
        line-height: 2.5rem;
        font-size: 2rem;
    }

    .text p {
        font-size: 1rem;
        width: auto;
    }
}